name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:

  default-shell:

    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]

    defaults:
      run:
        shell: bash -l {0}

    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Checkout latest release tag
      run: |
        LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
        echo "SETUPTOOLS_SCM_PRETEND_VERSION=$LATEST_TAG" >> $GITHUB_ENV

    - name: Install SSH server
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install openssh-server
        ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""
        cat "$HOME/.ssh/id_rsa.pub" >> "$HOME/.ssh/authorized_keys"
        chmod g-w "$HOME"
        chmod o-w "$HOME"
        chmod 700 "$HOME/.ssh"
        chmod 600 "$HOME/.ssh/authorized_keys"
        ssh -o "StrictHostKeyChecking accept-new" -v localhost "uname -r"

    - name: Set conda environment
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: environment.yaml
        environment-name: myenv
        cache-env: true

    - name: Install library
      run: python -m pip install . -v --no-build-isolation --no-deps

    - name: Run tests
      run: python -m unittest discover tests -v

    - name: Build docs
      working-directory: docs
      run: make html
